{{ "<!-- footer -->" | safeHTML }}
<script type="application/javascript">$(document).ready(function(){$("footer a").css("color", "#ea0a8e");})();</script>
<footer class="section pb-4 bg-black">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-3"></div>
      <div class="col-md-6 text-md-center text-center">
       <p class="mb-md-0 mb-4 text-white">{{ .Site.Params.copyright | markdownify }}</p>
      </div>
      <div class="col-md-3 text-md-right text-center text-white">
        <ul class="list-inline">
          {{ range .Site.Params.social }}
          <li class="list-inline-item"><a class="text-white d-inline-block p-2" href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a></li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</footer>
{{ "<!-- /footer -->" | safeHTML }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>
