{{ define "main" }}

  {{ "<!-- about us -->" | safeHTML }}
  <section class="section">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-12 text-center mt-2">
            <h2 class="section-title">Why is it essential to secure CI/CD?</h2>
        </div>
        <div class="col-lg-7 col-sm-7 mb-4 px-5 text-left">
          <ul style="list-style-type: disc">
            <li class="mb-3" style="font-size: 20px">CI/CD tools have complete access to your codebase and credentials.</li>
            <li class="mb-3" style="font-size: 20px">Secure CI/CD practices scale with your service.</li>
            <li class="mb-3" style="font-size: 20px">Achieve better security by shifting it left.</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-lg-8 col-sm-6 mt-2 mb-5">
            <img class="img-fluid" src="images/cicd.png">
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-lg-4 col-sm-3 mb-4">
          <div class="px-4 py-3 bg-white shadow d-block match-height">
            <a href="get_started/ci/plan/">
                <img class="img-responsive" src="images/plan_m.png" width="50" height="50"/>
                <h3 class="mb-3 mt-3 justify-content-md-center">Plan</h3>
            </a>
            <ul class="px-3" style="list-style-type: disc">
              <li>
                <a href="get_started/ci/plan/analyse" class="mb-0">Analyse</a>
              </li>
              <li>
                <a href="get_started/ci/plan/design" class="mb-0">Design</a>
              </li>
              <li>
                <a href="get_started/ci/plan/documentation" class="mb-0">Documentation</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-sm-3 mb-4">
          <div class="px-4 py-3 bg-white shadow d-block match-height">
            <a href="get_started/ci/code/">
                <img class="img-responsive" src="images/code__2__m.png" width="50" height="50"/>
                <h3 class="mb-3 mt-3 justify-content-md-center">Code</h3>
            </a>
            <ul class="px-3" style="list-style-type: disc">
              <li>
                <a href="get_started/ci/code/sast" class="mb-0">Static Application security testing</a>
              </li>
              <li>
                <a href="get_started/ci/code/dependency-checks" class="mb-0">Dependency checks</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-sm-3 mb-4">
          <div class="px-4 py-3 bg-white shadow d-block match-height">
            <a href="get_started/ci/test/">
                <img class="img-responsive" src="images/test_m.png" width="50" height="50"/>
              <h3 class="mb-3 mt-3 justify-content-md-center">Test</h3>
            </a>
            <ul class="px-3" style="list-style-type: disc">
              <li>
                <a href="get_started/ci/test/unit_test" class="mb-0">Unit Test</a>
              </li>
              <li>
                <a href="get_started/ci/test/integration_test" class="mb-0">Integration Test</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-lg-4 col-sm-3 mb-4">
          <div class="px-4 py-3 bg-white shadow d-block match-height">
            <a href="get_started/ci/release/">
                <img class="img-responsive" src="images/release_m.png" width="50" height="50"/>
              <h3 class="mb-3 mt-3 justify-content-md-center">Release</h3>
            </a>
            <p class="mb-0">When releasing app,binary or package make sure no one in supply chain tampered with your work.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-3 mb-4">
          <div class="px-4 py-3 bg-white shadow d-block match-height">
            <a href="get_started/cd/deploy/">
                <img class="img-responsive" src="images/deploy_m.png" width="50" height="50"/>
              <h3 class="mb-3 mt-3 justify-content-md-center">Deploy</h3>
            </a>
            <ul class="px-3" style="list-style-type: disc">
              <li>
                <a href="get_started/cd/deploy/build_infrastructure" class="mb-0">Build infrastructure</a>
              </li>
              <li>
                <a href="get_started/cd/deploy/pipeline_runners" class="mb-0">Pipeline runners</a>
              </li>
              <li>
                <a href="get_started/cd/deploy/managing_secrets" class="mb-0">Managing secrets</a>
              </li>
              <li>
                <a href="get_started/cd/deploy/production_checklist" class="mb-0">Production Readiness Checklist</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-sm-3 mb-4">
          <div class="px-4 py-3 bg-white shadow d-block match-height">
            <a href="get_started/cd/build/">
                <img class="img-responsive" src="images/build_m.png" width="50" height="50"/>
              <h3 class="mb-3 mt-3 justify-content-md-center">Build</h3>
            </a>
            <ul class="px-3" style="list-style-type: disc">
              <li>
                <a href="get_started/cd/build/verify" class="mb-0">Verify</a>
              </li>
              <li>
                <a href="get_started/cd/build/pack" class="mb-0">Pack</a>
              </li>
              <li>
                <a href="get_started/cd/build/ship" class="mb-0">Ship</a>
              </li>
              <li>
                <a href="get_started/cd/build/deploy_stage" class="mb-0">Deploy to Stage and Production</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-sm-3 mb-4">
          <div class="px-4 py-3 bg-white shadow d-block match-height">
            <a href="get_started/cd/runtime/">
                <img class="img-responsive" src="images/runtime_m.png" width="50" height="50"/>
              <h3 class="mb-3 mt-3 justify-content-md-center">Runtime</h3>
            </a>
            <ul class="px-3" style="list-style-type: disc">
              <li>
                <a href="get_started/cd/runtime/dast-testing" class="mb-0">Dynamic Application Security Testing of an API</a>
              </li>
              <li>
                <a href="get_started/cd/runtime/observe" class="mb-0">Observe</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  {{ "<!-- topics -->" | safeHTML }}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center mt-5">
          <h2 class="section-title">{{ i18n "topics_title" | safeHTML }}</h2>
        </div>
        <div class="col-9 row mb-5">
          <input id="search" class="form-control" placeholder="{{ .Site.Params.banner.placeholder }}">
          <i class="ti-search search-icon"></i>
          <!-- Javascript -->
          {{ $currentNode := . }}
          {{ $currentNode.Scratch.Set "pages" .Site.Pages }}
          {{ $pages := ($currentNode.Scratch.Get "pages") }}
          <script>
            $(function() {
            var projects = [
              {{ range $pages }}
              {
                value: "{{ .Title }}",
                label: "<p>{{.Plain}}</p>{{range.Params.Keywords}}<p>{{.}}</p>{{end}}",
                url:"{{ .Permalink }}"
              },
              {{ end }}
            ];
            $( "#search" ).autocomplete({
              source: projects
            })
            .data( "ui-autocomplete" )._renderItem = function( ul, item ) {
              return $( "<li>" )
              .append( "<a href=" + item.url + " + \" &quot;\" +  >" + item.value + "</a>" + item.label )
              .appendTo( ul );
            };
            });
          </script>
        </div>
        {{ "<!-- topic-item -->" | safeHTML }}
        {{ range (where .Site.Pages "Type" "docs") }}
        <div class="col-lg-4 col-sm-6 mb-4">
          <a href="{{ .Permalink }}" class="px-4 py-5 bg-white shadow text-center d-block match-height">
            <i class="{{ .Params.Icon }} icon text-primary d-block mb-4"></i>
            <h3 class="mb-3 mt-0">{{ .Title }}</h3>
            <p class="mb-0">{{ .Params.Description }}</p>
          </a>
        </div>
        {{ end }}
      </div>
    </div>
  {{ "<!-- /topics -->" | safeHTML }}

    <div class="container mt-5">
			<table class="table">
				<thead class="thead-dark shadow">
					<tr>
						<th scope="col">Demand/Problem</th>
						<th scope="col">Solution</th>
						<th scope="col">Reference</th>
					</tr>
				</thead>
				<tbody>
					<tr class="bg-white shadow">
						<td>Do you need Virtual Machine?</td>
						<td>Virtual infrastructure management using OpenStack</td>
						<td><a href="https://documentation.portal.pan-net.cloud/pan-net-cloud-portal/"> Pan-Net cloud portal</a></td>
					</tr>
					<tr class="bg-white shadow">
						<td>Do you need to install a container runtime?</td>
						<td>Managing containers using Kubernetes</td>
						<td><a href="https://pannet.atlassian.net/servicedesk/customer/portals">Pan-Net CaaS </a></td>
					</tr>
					<tr class="bg-white shadow">
            <td>Do you need to track and manage changes of your code?</td>
						<td>Code management using GIT</td>
						<td><a href="https://documentation.portal.pan-net.cloud/devops-space/first-steps/start-with-pan-net-gitlab/">Pan-Net GitLab</a></td>
					</tr>
					<tr class="bg-white shadow">
						<td>Do you need to manage your binary repositories?</td>
						<td>Artifactory management using JFrog</td>
						<td><a href="https://documentation.portal.pan-net.cloud/devops-space/first-steps/start-with-pan-net-artifactory/">Pan-Net Artifactory</a></td>
					</tr>
					<tr class="bg-white shadow">
            <td>Do you need to manage credentials and keys?</td>
						<td>Managing credentials and keys using Vault</td>
						<td><a href="https://documentation.portal.pan-net.cloud/devops-space/first-steps/start-with-pan-net-cloud-secrets/">Pan-Net Cloud Secrets</a></td>
					</tr>
					<tr class="bg-white shadow">
            <td>How to automate your workloads?</td>
						<td>Collection of DevOps and SRE practices</td>
						<td><a href="https://devops.pan-net.cloud/">Pan-Net DevOps space</a></td>
					</tr>
					<tr class="bg-white shadow">
						<td>Do you need to protect application/API?</td>
						<td>Application security using WAF</td>
						<td><a href="https://portal.webshield.pan-net.cloud/">Pan-Net WebShield</a></td>
					</tr>
				</tbody>
			</table>
    </div>
  </section>

  {{ if .Site.Params.cta.enable }}
  {{ with .Site.Params.cta }}
  {{ "<!-- call to action -->" | safeHTML }}
  <section>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section px-3 bg-white shadow text-center">
          <h2 class="mb-4">{{ .title | markdownify }}</h2>
          <p class="mb-4">{{ .content | markdownify }}</p>
          {{ if .button.enable }}
          {{ with .button }}
          <a href="{{ .link | relLangURL }}" class="btn btn-primary">{{ .label }}</a>
          {{ end }}
          {{ end }}
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ "<!-- /call to action -->" | safeHTML }}
  {{ end }}
  {{ end }}

{{ end }}
